// Font based variables
//
// Styleguide


//
//
// BASE FONT
//
//

/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/39f39b");


@font-face {
	font-family: 'Marcher';
	font-weight: 400;
	src: url('assets/fonts/Marcher/39F39B_0_0.eot');
	src: url('assets/fonts/Marcher/39F39B_0_0.eot?#iefix') format('embedded-opentype'),
	url('assets/fonts/Marcher/39F39B_0_0.woff2') format('woff2'),
	url('assets/fonts/Marcher/39F39B_0_0.woff') format('woff'),
	url('assets/fonts/Marcher/39F39B_0_0.ttf') format('truetype');
}


@font-face {
	font-family: 'Marcher';
	font-weight: 500;
	src: url('assets/fonts/Marcher/39F39B_1_0.eot');
	src: url('assets/fonts/Marcher/39F39B_1_0.eot?#iefix') format('embedded-opentype'),
	url('assets/fonts/Marcher/39F39B_1_0.woff2') format('woff2'),
	url('assets/fonts/Marcher/39F39B_1_0.woff') format('woff'),
	url('assets/fonts/Marcher/39F39B_1_0.ttf') format('truetype');
}


@font-face {
	font-family: 'Marcher';
	font-weight: 600;
	src: url('assets/fonts/Marcher/39F39B_2_0.eot');
	src: url('assets/fonts/Marcher/39F39B_2_0.eot?#iefix') format('embedded-opentype'),
	url('assets/fonts/Marcher/39F39B_2_0.woff2') format('woff2'),
	url('assets/fonts/Marcher/39F39B_2_0.woff') format('woff'),
	url('assets/fonts/Marcher/39F39B_2_0.ttf') format('truetype');
}


@font-face {
	font-family: 'Marcher';
	font-weight: 800;
	src: url('assets/fonts/Marcher/39F39B_3_0.eot');
	src: url('assets/fonts/Marcher/39F39B_3_0.eot?#iefix') format('embedded-opentype'),
	url('assets/fonts/Marcher/39F39B_3_0.woff2') format('woff2'),
	url('assets/fonts/Marcher/39F39B_3_0.woff') format('woff'),
	url('assets/fonts/Marcher/39F39B_3_0.ttf') format('truetype');
}







$base-font:   'Marcher', 'Helvetica Neue', 'Avenir Next', 'Segoe UI', 'Verdana', sans-serif !default;
$monospace-font:  'Consolas', 'Monaco', 'Courier New', monospace !default;
$heading:   "Marcher", 'Helvetica Neue', 'Avenir Next', 'Segoe UI', 'Verdana', sans-serif !default;
$body:    $base-font !default;
$body-weight:    400 !default;
$monospace:       $monospace-font !default;

$font-size: 1.16rem !default;
$line-height: 1.655rem !default;

$font-size--huge: 1.58rem !default;
$font-size--large: 1.449rem !default;
$font-size--medium: $font-size !default;
$font-size--small: 1.0111rem !default;
$font-size-smaller: 1rem !default;
$font-size--tiny: 0.89rem !default;

