.faqAccordion {
	@media (max-width: 768px){
		margin: 0 16px !important;
	}
	&__single:last-child{
		.faqAccordion__question {
			border-radius: 0 0 2px 2px
		}
	}
	&__question {
		border: solid 1px #2b97a1;
		border-radius: 2px 2px 0 0;
		background-color: #f0f8f9;
		color: #444;
		font-weight: 600;
		cursor: pointer;
		padding: 18px;
		width: 100%;
		text-align: left;
		outline: none;
		@include fontsize(18px);
		@include lineheight(18px, 24px);
		transition: 0.4s;
		box-sizing: border-box;
		position: relative;

		svg{
			margin-right: 10px;
			max-width: 22px;
			display: inline-block;
			vertical-align: middle;

			.cls-1 {
				fill: #2b97a1
			}
		}
	}

	&__answer {
		background-color: white;
		max-height: 0;
		width: 100%;
		box-sizing: border-box;
		transition: max-height 0.2s ease-out, padding 0.2s ease-out;
		border: solid 1px #2b97a1;
		overflow: hidden;
		padding: 0;
		padding-left: 3rem;
		padding-right: 3rem;
		margin-top: -3px;
		@media (max-width: 768px){
			padding-left: 16px;
			padding-right: 16px;
		}
		p{
			margin: .5rem 0 1rem;
			&:last-child{
				margin: 1rem 0 .5rem;
			}
			&:only-child{
				margin: .5rem 0 1rem;
			}
			@include fontsize(18px);
			@include lineheight(18px, 24px);
			@media (max-width: 768px){
				@include fontsize(16px);
				@include lineheight(16px, 20px);
			}
		}
		ul{
			@include fontsize(18px);
			@include lineheight(18px, 24px);
			@media (max-width: 768px){
				@include fontsize(16px);
				@include lineheight(16px, 20px);
			}
			padding: 0;
			margin-bottom: 1rem;
		}
		h1,h2,h3,h4,h5,h6{
			color: #005757;
			font-weight: 600;
			@include fontsize(18px);
			@include lineheight(18px, 24px);
			@media (max-width: 768px){
				@include fontsize(16px);
				@include lineheight(16px, 20px);
			}
			margin: 0;
			+p:last-child,
			+p:only-child,
			+p{
				margin-top: .4rem;
			}
		}
	}
	.active+&__answer {
		padding-top: 1rem;
		padding-bottom: 1rem;
		margin-top: 0px;
		max-height: 5000px;
	}
}
