.modal {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow-x: hidden;
	overflow-y: auto;
	font-size: 1rem;
	z-index: $z-index-8;


	.modal__wrapper {
		display: table;
		width: 100%;
		height: 100%;
		>div{
			display: table-cell;
			vertical-align: middle;
		}
	}
	.modal__inner {
		position: relative;
		margin: 3% auto;
		background: #fff;
		box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
		padding: 2rem;
		border-radius: 8px;
		max-width: 42rem;
		@media (max-width: 768px) {
			padding: 0;
			margin: 2%;
		}
		p{
			padding-bottom: 0;
			&:only-child{
				margin-bottom: 0;
			}
			&:last-child{
				margin-bottom: 0;
				padding-bottom: 0;
			}
		}

		& input,
		& textarea {
			@media (max-width: 768) {
				font-size: 16px;
			}
		}
		& .modal__close {
			display: inline-block;
			min-height: 16px;
			min-width: 16px;
			line-height: 14px;
			vertical-align: middle;
			text-align: center;
			font-size: 24px;
			padding: 4px;
			opacity: .8;
			position: absolute;
			top: -12px;
			right: -10px;
			border: 1px solid #dcdcdc;
			border-radius: 50%;
			background-color: #fff;

			&:hover {
				opacity: 1;
				cursor: pointer;
				background-color: rgba(#333, 0.6);
				color: #fff;
			}

		}
	}
	.modal__header {
		padding: 0 0 1rem;
		font-size: 1.08rem;
		font-family: $heading;
		font-weight: 500;
		border-bottom: 1px solid rgba(0, 0, 0, .05);
		&:empty {
			display: none;
		}
	}


	@media (max-width: 768px) {
		.modal__header,
		.modal__body {
			padding: 8px 8px 2px;
		}
	}
}
.modal_overlay {
	position: fixed;
	z-index: 200;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(255, 255, 255, 0.95);
}
