body,html {
	font-family: $base-font;
	font-size: 18px;
}
/* Headings
========================================================================== */
h1, h2, h3, h4, h5, h6{
	font-weight: 600;
	color: $color-heading;
	line-height: 1.4;
}

p{
	margin: 0;
	margin-left: auto;
	margin-right: auto;
}

.text-14{
	@include fontsize(14px);
	@include lineheight(14px, 17px);
}

.text-16{
	@include fontsize(16px);
	@include lineheight(16px, 20px);
}

.text-18{
	@include fontsize(18px);
	@include lineheight(18px, 24px);
	@media (max-width: 768px){
		@include fontsize(16px);
		@include lineheight(16px, 20px);
	}
}

.text-20{
	@include fontsize(20px);
	@include lineheight(20px, 28px);
	@media (max-width: 768px){
		@include fontsize(18px);
		@include lineheight(18px, 24px);
	}
}

.text-21{
	@include fontsize(21px);
	@include lineheight(21px, 24px);
	@media (max-width: 768px){
		@include fontsize(18px);
		@include lineheight(18px, 24px);
	}
}


.text-28{
	@include fontsize(28px);
	@include lineheight(28px, 32px);
	@media (max-width: 768px){
		@include fontsize(21px);
		@include lineheight(21px, 28px);
	}
}


.text-38{
	@include fontsize(38px);
	@include lineheight(38px, 44px);
	@media (max-width: 768px){
		@include fontsize(28px);
		@include lineheight(28px, 32px);
	}
}

.text-43{
	@include fontsize(43px);
	@include lineheight(43px, 48px);
	@media (max-width: 768px){
		@include fontsize(38px);
		@include lineheight(38px, 44px);
	}
}


.text-57{
	@include fontsize(57px);
	@include lineheight(57px, 64px);
}

.text-67{
	@include fontsize(67px);
	@include lineheight(67px, 74px);
	@media (max-width: 768px){
		@include fontsize(43px);
		@include lineheight(43px, 48px);
	}
}



/* Links
========================================================================== */
a {
	background: transparent;
	color: $link;
	transition: all .15s;
}
a:active, a:hover {
	outline: 0;
}
a:hover {
	color: $link--hover;
}
a:visited {
	color: $link--visited;
}
a:visited:hover {
	color: rgba($link--visited, 80);
}
a:active {
	color: $link--active;
}

a:hover,a:active,a:focus,a:visited {
	text-decoration: underline
}
